/* --------------------- */
/* ----- --------- ----- */
/* --------------------- */
/* .wrapper{
  margin: 0 15px;
} . */
.container{
  /* padding-left: 0 !important; */
}
html{
  max-width: 100%;
}
body{
  /* padding: 15px; */
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}
.front-page{
  background: #eee;
}
nav{
  background: white;
  height: 100px;
}
nav i{
  font-size: 24px;
  color: #303942;
}
nav ul{
  height: 100%;
  margin-top: 40px;
  padding-left: 50px;
  margin-right: 200px;
}
nav ul li{
  display: inline;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
}
nav ul li a{
  color: #34353a;
}
nav ul li a.grey{
  color: #cacaca !important;
}
nav ul li a.grey:hover{
  color: #cacaca !important;
  border-bottom: none;
  cursor: default;
}
nav ul li a:hover{
  color: #34353a;
  padding-bottom: 2px;
  border-bottom: 2px solid #2a9fb6;
  text-decoration: none;
}
nav .container,
nav .container div{
  height: 100%;
}
nav .logo{
  margin: 0 0 0 15px;
  max-width: 150px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0,-50%);
}
nav ul li a:hover{
  border-bottom:
}
.relative {
  position: relative;
  width: 100%;
  height: 100%;
}
/* --------------------- */
/* -----   HOME    ----- */
/* ----- SECTION 1 ----- */
/* --------------------- */
#section1{
  background-image: url('/wp-content/uploads/adam-potash-with-folder.jpg');
  height: 900px;
}
#section1 .gradient{
  background-image: linear-gradient(to right, #10f1f1, white);
  height: 900px;
  opacity: .85;
}
#section1 .hero{
  margin-top:150px;
  padding: 35px 15px;
  border:1px solid black;
  border-radius: 20px;
}
#section1 .hero ul{
  padding-left: 15px;
  padding-right: 15px;
}
#section1 .hero ul li{
  display: inline;
  padding: 0 25px 25px 0;
  font-weight: 900;
  font-size: 28px;
}
#section1 .hero ul li:not(:first-child){
  margin-left: 40px;
}
#section1 .hero p.slogan{
  font-size: 68px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.2em;
}
#section1 .hero p.sub-slogan{
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .6em;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  text-align: justify;
}
#section1 .hero .mw{
  max-width: 520px;
}
.yellow-w-shadow{
  color: #f1ee10;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.9),
               0px 2px 2px rgba(0,0,0,0.9),
               0px 2px 2px rgba(0,0,0,0.9);
}
.strike{
  position: relative;
}
.strike::before{
  position: absolute;
  content: "";
  left: 0;
  top: 25%;
  right: 0;
  border-top: 6px solid;
  border-radius: 5px 7px;
  border-color: red;
  opacity: .5;

  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
  transform:rotate(-10deg);
}
.white{
  color: white;
}
#section1 .slogan .white{
  font-size: 70px;
  letter-spacing: .02em;
}
.m0a{
  margin: 0 auto;
  text-align: center;
}
button.join-now{
  text-transform: uppercase;
  background: white;
  border: none;
  padding: 10px 25px;
  letter-spacing: .40em;
  font-size: 18px;
}
button.join-now a{
  color: #2A9FB6;
  text-decoration: none;
  font-weight: 900;
}
button.lite{
  background: #e2e2e5;
  border: 1px solid black;
  color: black;
}
button.large{
  padding: 5px 35px;
  font-size: 18px;
}
.cap{
  text-transform: capitalize !important;
}
.lsn{
  letter-spacing: 0 !important;
}
#section1 .hero button{
  margin-top: 10px;
  margin-bottom: 10px;
  border:1px solid black;
}
#section1 .hero .blurb{
  font-size: 15.5px;
  margin-top: 5px;
}
/* --------------------- */
/* ----- SECTION 2 ----- */
/* --------------------- */
#section2{
  background: #232b34;
}
#section2.bg-image{
  background-image: url('/wp-content/uploads/adam-potash-nike.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 980px;
}
.front-page #section2 .numbers-dont-lie{
  font-size: 32px;
  background-color: rgb(42, 159, 182, .55);
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weight-loss-page .numbers-dont-lie{
  padding-top: 100px;
}
#section2 .numbers-dont-lie p{
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0;
  line-height: 1em;
}
#section2 .numbers-dont-lie .charcoal{
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 100px;
  /* color: #242B34; */
  color: white;
  line-height: 1em;
  font-weight: 900;
  font-family: 'Bakbak One', cursive;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
.weight-loss-page #section2 .numbers-dont-lie{

}
#section2 .numbers-dont-lie .numbers{
  font-size: 110px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
.yellow{
  color: #f1ee10;
}
#section2 .slogan{
  background-color: rgb(42, 159, 182, .55);
  height: 170px;
  margin-top: 250px;
  position: relative;
}
#section2 .slogan p{
  width: 100%;
  color: white;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* --------------------- */
/* ----- SECTION 3 ----- */
/* --------------------- */
#section3{
  background: #232b34;
  /* height: 900px; */
  color: white;
  overflow-x: hidden;
  padding-bottom: 50px;
  position: relative;
  min-height: 900px;
}
#section3 .slogan{
  width: 100%;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 50px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  position: relative;
}

#section3 .slogan:before,
#section3 .slogan:after{
  display: block;
  position: absolute;
  content:"";
  background: white;
  height: 4px;
  width: 600px;
  top: 50%;
  overflow: hidden;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
#section3 .slogan:before{
  left: -500px;
}
#section3 .slogan:after{
  right: -500px;
  overflow: hidden;
}
.slider{
  /* background: #303942;
  height: 565px;
  border-radius: 30px;
  margin-top: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%; */
  position: absolute;
}
.border-box-responsive:hover{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.38);
}
#section3 .testimonial,
#section8 .testimonial,
.border-box-responsive .text-side{
  padding: 150px 50px 50px 50px;
  display: inline-block;
}
#section3 .testimonial .name,
#section8 .testimonial .name,
.border-box-responsive .text-side .name{
    font-size: 24px;
}
#section3 .testimonial .sub-slogan,
#section8 .testimonial .sub-slogan,
.border-box-responsive .text-side .sub-slogan{
    font-size: 18px;
}
#section3 .testimonial .quote,
#section3 .testimonial ul,
#section8 .testimonial .quote,
#section8 .testimonial ul,
.border-box-responsive .text-side .quote,
.border-box-responsive .text-side ul{
    font-size: 17px;
    line-height: 1.6em;
    font-weight: 200;
    letter-spacing: .1em;
}
.front-page #section3 .border-box-responsive .text-side .quote{
  font-size: 18px !important;
}
.slider .before-after{
  width:50%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.before-after .border-box-responsive{
  margin-bottom: 0 !important;
  min-height: 550px;
}
#slider1 .before-after,
.elena,
.elena .lft{
  background-image: url('/wp-content/uploads/elena.png');
  background-size: cover;
}
#slider2 .before-after,
.ari,
.ari .lft{
  background-image: url('/wp-content/uploads/ari.jpg');
  background-size: cover;
}
#slider3 .before-after,
.rachael,
.rachael .lft{
  background-image: url('/wp-content/uploads/rachael.jpg');
  background-size: cover;
}
#slider4 .before-after,
.lori,
.lori .lft{
  background-image: url('/wp-content/uploads/lori.jpg');
  background-size: cover;
}
.before-after .quote{
  padding-top: 25px;
  padding-bottom: 25px;
}
.next-button{
  position: absolute;
  right: -30px;
  bottom: 90px;
}
.next-button img{
  /* width:80px;
  height:80px;
  background: #696d71;
  border-radius: 50px; */
  width: 80px;
}
.next-button img:hover{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
/* --------------------- */
/* ----- SECTION 4 ----- */
/* --------------------- */
#section4{
  height: 930px;
  background-image: url('/wp-content/uploads/adam-coffee.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
#section4 .slogan-container{
  max-width: 600px;
  position: absolute;
  right: 100px;
  top: 130px;
  padding: 35px 20px;
  border: 1px solid;
  border-radius: 20px;
}
#section4 .slogan{
  background: #303942;
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  display: inline-block;
  padding: 15px;
  line-height: 1.1em;
}
#section4 .slogan{
  margin-bottom: 20px;
}
#section4 .sub-slogan{
  font-size: 28px;
  text-align: center;
  padding: 0 50px;
}
#section4 button{
  margin-top: 20px;
  background: #2A9FB6;
  color: white !important;
  font-weight: 900;
}
.front-page #section4 button{
  font-size: 32px;
}
#section4 button a{
  color: #F0EE11;
}

/* --------------------- */
/* ----- SECTION 5  ----- */
/* --------------------- */
#section5{
  background: #2a9fb6;
  /* height: 500px; */
  position: relative;
}
#section5 .slogan{
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 1.2em;
  margin-top: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}
#section5 .sub-slogan{
  font-size: 26px;
  text-align: center;
  /* padding-top: 5px; */
}
.yellow-bar-container{
  /* position: absolute; */
  width: 100%;
  /* top: 100; */
}
.yellow-bar-container .middle{
  padding: 15px;
  text-align: center;
  align-items: middle;
}
.yellow-bar-container .middle span{
    flex-basis: 40%;
}
.yellow-bar{
  background: #f1ee10;
  position: absolute;
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* .yellow-bar.left{
  transform: skewY(-20deg);
  margin-top: 51px;
  top: 50px;
}
.yellow-bar.right{
  transform: skewY(-20deg);
  margin-top: 51px;
  bottom: 50px;
} */
#section5 .blurb{
  padding-top: 120px;
  text-align: center;
  line-height: 2em;
  color: white;
  font-size: 18px;
  letter-spacing: .15em;
  font-weight: 200;
  padding-bottom: 35px;
}
/* --------------------- */
/* ----- SECTION 6----- */
/* --------------------- */
#section6{
  /* margin: 25px; */
}
.flex{
  display: flex;
  justify-content: center;
}
.wrap{
  flex-wrap: wrap;
}
.vert-card{
  background: #e2e2e5;
  /* margin: 25px; */
  /* margin: 25px; */
  margin-top: 50px;
  padding: 0;
  max-width: 330px;
  min-height: 530px;
  position: relative;
  border: 1px solid black;
  border-radius: 0 20px 0 0;
  justify-content: center;
}
.vert-card .card-button{
  background: #2a9fb6;
  display: block;
  color: #f1ee10;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 900;
}
.vert-card .card-button a{
  color: #f1ee10 !important;
  text-decoration: none;
  /* padding: 15px 55px; */
}
.vert-card .card-button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.vert-card .slogan{
  font-size: 18px;
  padding: 30px 15px 15px 15px;
  text-align: center;
  letter-spacing: .04em;
  margin-bottom: 0;
}
.vert-card .sub-slogan{
  padding: 15px;
  font-size: 16px;
  padding-top: 0;
  line-height: 2.3em;
  font-weight: 200;
  letter-spacing: .03em;
}
.vert-card .img-holder{
  background: #2a9fb6;
  height: 185px;
  width: 100%;
  border-radius: 0 20px 0 0 ;
}
.vert-card .img-holder{
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid black;
}
.vert-card .img-holder.one{
  background-image: url('/wp-content/uploads/transformative-health-advice.jpg');
  background-position: top;
}
.vert-card .img-holder.two{
  background-image: url('/wp-content/uploads/tips-and-tricks-for-healthy-living.jpg');
}
.vert-card .img-holder.three{
  background-image: url('/wp-content/uploads/sunset-yoga.jpeg');
  background-position: center;
}
#section6 .col-md-2,
#section6 .col-md-3{
  padding: 0;
}

/* --------------------- */
/* ----- SECTION 7----- */
/* --------------------- */

#section7{
  /* height: 800px; */
  background: #2A9FB6;
  padding-bottom: 60px;
}
#section7 .slogan-container{
  margin-top: 50px;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#section7 .slogan{
  text-transform: uppercase;
  color: #303942;
  background: white;
  height: 150px;
  font-size: 50px;
  font-weight: 900;
  padding-top: 40px;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}
#section7 .testimonial-container{
  position: relative;
}
#section7 .testimonial-container .quote{
  background: white;
  height: 100px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
#section7 .testimonial-container .quote p{
  width: 100%;
  font-size: 22px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#section7 .testimonial-container .quote.left{
  margin-right: 50px;
}
#section7 .testimonial-container .quote.right{
  margin-left: 50px;
}
#section7 .testimonial-container .quote.right .name{
  right: 100px;
}
#section7 .testimonial-container .quote .name{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin:0 auto;
  width: 120px;
  color: #2A9FB6;
  background: #f1ee10;
  text-align: center;
  padding: 5px 15px;
  z-index: 10001;
  font-weight: 900;
}

/* --------------------- */
/* ----- SECTION 8----- */
/* --------------------- */
#section8{
  padding-top: 50px;
}
/* --------------------- */
/* ----- FOOTER ----- */
/* --------------------- */
footer{
  background: #303942;
  height: 70px;
  width: 100%;
}
footer a i{
  color: white;
  font-size: 24px;
  padding: 20px 10px;
}
footer .flex div{
  flex-basis: 100%;
  align-items: middle;
}
@media (max-width: 1530px){
  #section2.bg-image{
    height: 780px;
    background-size: cover;
  }
  #section2 .slogan p{
    font-size: 40px;
  }
}
@media (max-width: 1300px){
  #section5 .slogan{
    font-size: 50px;
  }
  #section5 .sub-slogan{
    font-size: 18px;
    /* padding-top: 15px; */
  }
  #section7 .slogan{
    font-size: 40px;
    padding-top: 45px;
  }
}

@media (max-width: 1200px){
  nav ul li{
    font-size: 15px;
    padding: 10px;
  }
  #section1{
    background-position: center top;
  }
  #section1 .hero p.slogan,
  #section1 .hero .slogan .white{
    font-size: 50px;
  }
  #section1 .hero ul li:not(:first-child){
    margin-left: 5px;
  }
  #section1 .hero p.sub-slogan {
    letter-spacing: .3em;
  }
  #section1 .hero .mw{
    max-width: 400px;
  }
  #section2 .slogan p{
    font-size: 30px;
  }
  #section2 .numbers-dont-lie .numbers{
    font-size: 70px;
  }
  #section2 .numbers-dont-lie {
    font-size: 22px;
  }
  #section3{
    height: 750px;
  }
  #section3 .testimonial,
  #section8 .testimonial{
    padding-left: 25px;
  }
  #section4{
    height: 630px;
  }
  #section4 .slogan{
    font-size: 26px;
  }
  #section4 .sub-slogan{
    font-size: 20px;
    padding: 5px;
    max-width: 400px;
  }
  #section3 .slogan:before,
  #section3 .slogan:after{
    display: none;
  }
  /* .slider{
    height: 465px;
  } */
  .before-after{
    background-size: cover;
  }
  .next-button{
    bottom: 210px;
  }
  #section4 .slogan-container{
    right: 50px;
    top: 70px;
  }
  #section6 .vert-card{
    flex-basis: 28%;
    /* min-height: 50px; */
  }
  #section6 .vert-card .slogan{
    font-size: 16px;
  }
  #section6 .vert-card .sub-slogan{
    font-size: 14px;
  }
  #section5 .blurb{
    font-size: 16px;
  }
}

@media (max-width: 1100px){
  #section2.bg-image{
    height: 625px;
  }
  #section2 .slogan{
    margin-top: 150px;
  }
  #section5 .blurb{
    letter-spacing: .05em;
  }
  #section3 .testimonial,
  #section8 .testimonial{
    padding-top: 100px;
  }
}
#mobileNav{
  position: absolute;
  right: 50px;
  top: 0px;
  margin-right: 0;
}

@media (max-width: 991px){
  nav .container{
    width: 100%;
  }
  nav .logo{
    margin-left: 25px;
  }
  #mobileNav{
    top: 0;
    right: 0;
    padding-left: 0 !important;
  }
  .mob-relative{
    position: relative;
  }
  .hod{
    display: block !important;
  }
  #mobileNav li{
    display: block;
    width: 100%;
    font-size: 24px;
    background: #242B34;
    color: #303942 !important;
    border-bottom: 1px solid white;
    font-weight: 400;
    padding-left: 25px;
    opacity: .92;
  }
  #mobileNav li a{
    color: white !important;
  }
  ul#mobileNav{
    position: absolute;
    top: 45px;
    z-index: 1000;
    width: 100%;
  }
  nav{
    height: 60px;
  }
  nav ul{
    display: none;
  }
  /* nav ul:before{
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    position: absolute;
    right: 0;
    content: "\f0c9";
    font-size: 24px;
  } */
  nav ul{
    margin-top: 15px;
  }
  #section1 .hero ul{
    margin-left: 30px;
  }
  #section1 .gradient,
  #section1{
    height: 700px;
  }
  #section1 .hero{
    text-align: center;
  }
  #section1 .hero .mw{
    max-width: 100%;
  }
  #section1 .hero p.sub-slogan{
    text-align: center;
    padding: 5px 50px 15px;
  }
  #section2 .numbers-dont-lie{
    font-size: 16px;
  }
  /* #section3{
    height: 100%;
  } */
  .front-page #section3 .before-after{
    height: 475px;
    border-radius: 30px 30px 0 0;
  }
  #section3 .testimonial,
  #section8 .testimonial{
    padding-top: 25px;
  }
  #section3{
    min-height: 1050px !important;
  }
  .wrap991{
    flex-wrap: wrap;
  }
  .slider{
    height: 765px;
  }
  #section3 .slogan{
    font-size: 30px;
  }
  #section3 .before-after{
    background-size: cover;
    height: 550px;
    border-radius: 30px 30px 0 0;
  }
  .mob-mb-50{
    margin-bottom: 50px;
  }
  .next-button {
    bottom: 365px;
  }
  /* .slider{
    height: 100%;
  } */
  .slider .before-after{
    height: 350px;
    width: 100%;
    padding-top: 25px;
    border-radius: 30px;
  }
  #section5 .slogan {
    font-size: 40px;
  }
  #section5{
    /* height: 450px; */
  }
  #section6 .container{
    width: 100%;
  }
  #section7 .slogan{
    font-size: 30px;
    padding-top: 55px;
  }
  #section7 .testimonial-container .quote p{
    font-size: 16px;
    padding: 0 25px;
  }
}

@media (max-width: 868px){
  .front-page .block{
    display: inline;
  }
}

 @media (max-width: 791px){
  #section1 {
    background-position: right top;
  }
  .front-page #section3{
    min-height: 1075px !important;
  }
}

@media (max-width: 514px){
  #section1 .gradient,
  #section1{
    /* height: 1000px; */
  }
  #section1{
    background-position: 1000px top;
  }
  #section1 .hero{
    margin-top: 50px;
    padding: 40px 10px;
  }
  #section1 .hero p.slogan,
  #section1 .hero .slogan .white {
    font-size: 46px;
  }
  #section2 .container{
    margin: 0;
    padding: 0;
  }
  #section2.bg-image {
    height: 736px;
    background-position: center;
  }
  #section2 .numbers-dont-lie{
    margin-top: 300px;
  }
  #section2 .slogan{
    margin-top: 35px;
  }
  .front-page .flex{
    display: block;
  }
  #section3 .before-after {
    background-size: contain;
    height: 400px;
  }
  #section3 .slogan {
    font-size: 34px;
  }
  #section4{
    height: 620px;
    /* background-position: -250px; */
  }
  .front-page #section4{
    background-image: url('/wp-content/uploads/running-bleachers.jpg') !important;
    background-position: center;
  }
  #section4 .slogan-container{
    right: 0;
    top: 50;
    margin: 50px 15px 0 15px;
    background: #eee;
    opacity: .85;
  }
  .about-adam-page #section4 .slogan-container{
    background: none;
    border: none;
    margin-top: 130px;
  }
  #section4 .slogan {
    background: none;
    color: #303942;
    /* border: 1px solid #303942; */
    border-radius: 15px;
    margin-bottom: 0;
  }
  #section4 .slogan {
    font-size: 24px;
  }
  #section5 {
    /* height: 720px; */
  }
  #section5 .blurb {
    letter-spacing: .02em;
    margin: 25px 50px;
    padding-bottom: 35px;
  }
  #section5 .slogan {
    font-size: 34px;
  }
  .yellow-bar-container .left,
  .yellow-bar-container .right{
    display: none;
  }
  .yellow-bar{
    /* height: 105px; */
  }
  #section6 .vert-card{
    width: 100%;
  }
  #section6 .vert-card .slogan{
    font-size: 21px;
  }
  .front-page #section6 .vert-card{
    max-width: 100%;
  }
  #section7 .slogan {
    padding-top: 5px;
    height: 100px;
  }
  #section7 .testimonial-container .quote{
    height: 130px;
  }
  #section7 .testimonial-container .quote .name {
    left: 45px;
  }
}

/* --------------------- */
/* ----- WEIGHT LOSS  ----- */
/* --------------------- */

.weight-loss-page #section2.bg-image{
  background-image: url('/wp-content/uploads/weight-loss-bg-2.jpg') !important;
  height: 820px;
  background-position: center;
  background-size: cover;
}
.weight-loss-page #section2 .gradient{
  background-image: linear-gradient(to right, #242B34, white);
  height: 900px;
  opacity: .85;
}
.tips-and-recipes-page #section2 .gradient{
  opacity: 0;
}
.weight-loss-page #section2 .yellow,
.tips-and-recipes-page #section2 .yellow{
  font-size: 82px;
}
.weight-loss-page #section2 .blurb,
.tips-and-recipes-page #section2 .blurb{
  font-size: 32px;
  background-color: rgb(255, 255, 255, .70);
  margin-top: 50px;
  margin-left: 25px;
  text-align: center;
  font-weight: 300;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-transform: capitalize !important; */
}
.weight-loss-page #section2 .blurb{
  padding: 15px;
}
.weight-loss-page #section2 .blurb{
  margin-left: 0;
}
.weight-loss-page #section2 .blurb p,
.tips-and-recipes-page #section2 .blurb p{
  font-size: 34px !important;
  /* background-color: rgb(42, 159, 182, .55); */
  text-align: left;
  font-weight: 300;
  padding: 10px;
  text-transform: none !important;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.weight-loss-page #section2 .blurb p{
  font-size: 22px !important;
}
.weight-loss-page #section2 .slogan,
.tips-and-recipes-page #section2 .slogan{
  margin-top: 100px !important;
  padding: 10px;
}
.weight-loss-page #section2 .slogan a,
.tips-and-recipes-page #section2 .slogan a{
  color: white !important;
  text-decoration: none;
}
.weight-loss-page #section3{
  height: 100%;
  padding-bottom: 50px;
}
.weight-loss-page #section3 .slogan{
  margin-bottom: 50px;
}
.weight-loss-page #section3 .testimonial .name,
#section8 .testimonial .name,
.border-box-responsive .text-side .name{
  background: white !important;
  color: #303942;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.before-after .border-box-responsive .text-side .name{
  background: none !important;
  color: white;
  border: 1px solid white;
  border-bottom: none;
  padding-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.before-after .border-box-responsive .text-side .sub-slogan{
  background: none !important;
  border: none;
  color: white;
  border: 1px solid white;
  border-top: none;
  padding-top: 0;
  border-radius: 0px 0px 5px 5px;
}

.weight-loss-page #section3 .testimonial .name.flat-bottom,
#section8 .testimonial .name.flat-bottom,
.border-box-responsive .text-side .name{
  border-radius: 5px 5px 0 0;
}
.weight-loss-page #section3 .testimonial,
#section8 .testimonial,
.border-box-responsive .text-side{
  padding-top: 75px;
}
.fbx{
  background: #242B34;
  flex-basis: 80%;
}
.update{}
.product-button{
  margin-top: 25px;
}
.product-button p{
  padding: 10px;
  font-size: 28px;
  border:1px solid white;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background: #242B34;
}
.weight-loss-page #slider1.slider{
  height: 835px;
}
/* .weight-loss-page #slider1 .before-after,
.weight-loss-page #slider1 .testimonial{
  height: 835px !important;
} */
.weight-loss-page #slider1 .before-after{
  background-image: url('/wp-content/uploads/product-1.jpg');
  background-size: cover;
}
.weight-loss-page #slider2 .before-after{
  background-image: url('/wp-content/uploads/product-2.jpg');
  background-size: cover;
}
.weight-loss-page #slider3 .before-after,
#section8 .before-after{
  background-image: url('/wp-content/uploads/adam-coffee.png');
  background-size: cover;
  background-position: top right -900px;
}
.weight-loss-page iframe{
  border-radius: 30px;
  max-width: 100%;
  height: 250px;
  /* border: 1px solid white; */
}
.weight-loss-page #slider2.slider{
  height: 1150px !important;
}
.weight-loss-page #slider3.slider,
#section8 #slider3.slider{
  height: 1050px !important;
}
#section8{
  color: white;
  background: #242B34;
}
.weight-loss-page #slider2 .testimonial .name,
.weight-loss-page #slider3 .testimonial .name,
#section8 #slider3 .testimonial .name,
.border-box-responsive .text-side .name{
  text-transform: capitalize !important;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 0;
}
.weight-loss-page #slider2 .testimonial .sub-slogan,
.weight-loss-page #slider3 .testimonial .sub-slogan,
#section8 .testimonial .sub-slogan,
.border-box-responsive .text-side .sub-slogan{
  text-align: center;
  font-weight: 900;
  border: 1px solid black;
  border-top:none;
  padding: 10px;
  background: #242B34;
  color: white;
}
.included{
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}
.slider .before-after.flip{
  border-radius: 0 30px 30px 0;
}
.weight-loss-page #section4{
  background: #eee;
  height: 100%;
  /* margin: 50px 0; */
}
.weight-loss-page #section4 h1{
  color: #242B34;
  text-align: center;
  font-size: 60px;
  padding-bottom: 50px;
  scroll-margin-top: 200px;
}
.wellbox{
  /* border: 1px solid #777777;
  padding: 15px;
  border-radius: 15px; */
  /* background-color: black; */
}
.weight-loss-page #section4 .video-box{
  margin: 0 auto;
  text-align: center;
}
.weight-loss-page #section4 iframe{
  text-align: center;
  padding: 15px;
  margin: 15px auto 0 auto;
  border: 1px solid white;
  background: black;
  border-radius: 30px;
}
.weight-loss-page #section4 .half-bg{
  width: 50%;
  /* height: 700px; */
  background-color: #2A9FB6;
  padding: 200px 0;
  display: inline-block;
}
.weight-loss-page #section4 .half-bg.right{
  padding-top: 25px;
  padding-bottom: 0;
  background-color: #eee;
  display: inline-block;
  width: 48%;
}
.weight-loss-page #section4 .right p{
  font-size: 160px;
  font-weight: 900;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.9),
               0px 2px 2px rgba(0,0,0,0.9),
               0px 2px 2px rgba(0,0,0,0.9);
  color: #2A9FB6;
  line-height: .9;
  text-align: right;
  margin-right: 100px;
}
.weight-loss-page .starter-packet .quote{
  padding: 15px;
}
.pointer-hover{
  cursor: pointer;
  /* text-decoration: underline; */
  font-weight: 900 !important;
  border-bottom: 4px solid white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  display: inline-block;
}
.pointer-hover:hover{

}
@media (max-width: 1200px){
  .weight-loss-page #section2 .yellow,
  .tips-and-recipes-page #section2 .yellow {
    font-size: 72px;
  }
  .weight-loss-page #slider2.slider {
    height: 1250px !important;
  }
  .weight-loss-page #slider1.slider {
    height: 875px;
  }
  .weight-loss-page #slider3.slider,
  #section8 #slider3.slider {
    height: 1100px !important;
  }
  .weight-loss-page #section4 .right p{
    font-size: 120px;
    margin-right: 10px;
  }
  .weight-loss-page #section4 iframe {
    max-width: 90%;
  }
}

@media (max-width: 1100px){

}

@media (max-width: 991px){
  .weight-loss-page #slider1.slider {
    height: 1300px;
  }
  .weight-loss-page #section3 .testimonial,
  #section8 .testimonial {
    padding-top: 25px;
  }
  #section3 #slider1 .testimonial .quote{
    padding: 25px 10px;
  }
  .weight-loss-page #section3 .testimonial,
  #section8 .testimonial {
    padding: 25px;
    text-align: center;
  }
  #section3 .testimonial ul{
    list-style: none;
    padding-left: 0;
  }
  #section3 .before-after{
    border-radius: 0 0 30px 30px;
  }
  .weight-loss-page #slider2.slider {
    height: 1550px !important;
  }
  .weight-loss-page #slider2 .before-after{
    background-position: center;
  }
  .weight-loss-page #slider3 .before-after,
  #section8 .before-after{
    background-position: center;
    border-radius: 30px 30px 0 0;
  }
  .weight-loss-page #slider3.slider, #section8 #slider3.slider {
    height: 1380px !important;
  }
  .weight-loss-page .numbers-dont-lie{
    width: 100%;
  }
  .weight-loss-page #section2 .blurb{
    margin-left: 0;
  }
  .weight-loss-page #section2 .slogan{
    margin-top: 25px !important;
  }
  .weight-loss-page #section3 .slogan{
    font-size: 72px;
  }
  .weight-loss-page #section4 .half-bg{
    padding: 50px 0;
  }
  .weight-loss-page #slider1 .before-after{
    border-radius: 30px 30px 0 0;
  }
}

@media (max-width: 791px){
  .weight-loss-page #section4 .half-bg,
  .weight-loss-page #section4 .half-bg.right{
    width: 100%;
    display: block;
  }
  .weight-loss-page #section4 .right p {
    font-size: 80px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    margin-right: 10%;
  }
  .weight-loss-page #section2 .blurb p{
    font-size: 30px !important;
    text-align: center;
  }
}

@media (max-width: 650px){
  .weight-loss-page #slider3.slider,
  #section8 #slider3.slider {
    height: 1420px !important;
  }
  .mq-650-mb100{
    margin-bottom: 120px;
  }
  .weight-loss-page #section2 .blurb p{
    font-size: 22px !important;
  }
  .weight-loss-page #section2.bg-image{
    height: 800px;
  }
  .weight-loss-page #section3 .before-after {
    height: 500px;
  }
  .weight-loss-page #section2 .numbers-dont-lie .charcoal{
    font-size: 44px;
    padding: 0 15px;
  }
  .weight-loss-page #section2 .numbers-dont-lie{
    padding-top: 25px;
  }
  #section3 .testimonial .quote,
  #section3 .testimonial ul,
  #section8 .testimonial .quote,
  #section8 .testimonial ul,
  .border-box-responsive .text-side .quote,
  .border-box-responsive .text-side ul{
      font-size: 15px;
      line-height: 1.5em;
      font-weight: 200;
      letter-spacing: .1em;
  }
  .pointer-hover{
    margin-left: 15px;
  }
  .about-adam-page .get-started{
    padding: 15px;
  }
}

@media (max-width: 550px){
  .product-button p {
    font-size: 20px;
  }
  .yellow-bar-container .middle span {
    flex-basis: 90%;
  }
  .front-page #section5 .blurb {
    padding-top: 100px;
  }
}
@media (max-width: 514px){
  .weight-loss-page #section2 .numbers-dont-lie {
    margin-top: 25px;
  }
  .weight-loss-page #section2.bg-image {
    height: 630px;
  }
  .weight-loss-page #section3 .before-after {
    height: 450px;
  }
}
@media (max-width: 476px){
  .weight-loss-page #section3 .slogan {
    font-size: 52px;
    margin-top: 50px;
  }
  .weight-loss-page #section2 .blurb{
    padding: 5px;
  }
  .border-box-responsive .text-side{
    padding: 20px;
  }
  .border-box-responsive .quote{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 300px){
  .weight-loss-page #section2 .yellow{
    font-size: 52px;
  }
  .weight-loss-page #section3 .slogan{
    font-size: 42px;
  }
  .weight-loss-page #section4 .right p{
    margin-right: 10px;
  }
}

/* ---------------------------- */
/* ----- TIPS & RECIPES ------ */
/* --------------------------- */
.tips-and-recipes-page #section2.bg-image{
  background: url('/wp-content/uploads/tips-for-healthy-living.jpeg') !important;
  background-position: center bottom !important;
  background-size: cover !important;
  height: 400px !important;
}
.tips-and-recipes-page #section3{
  background: #eee;
  color: #242B34;
  height: 100%;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tips-and-recipes-page #section3{

}
.tips-and-recipes-page #section3 .container{
  margin-top: 75px;
}
.tips-and-recipes-page #section3 img{
  max-width: 100%;
}
.tips-and-recipes-page #section3 .border-box{
  display: flex;
}
.tips-and-recipes-page .border-box{
  border: 1px solid #cacaca;
  padding: 50px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.tips-and-recipes-page .border-box:hover{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.38);
}
.tips-and-recipes-page #section3 .row{
  margin-bottom: 35px;
  /* min-height: 270px; */
}
.tips-and-recipes-page p.title{
  font-size: 22px;
  font-weight: 200;
  color: #404750;
  text-transform: capitalize !important;
}
.tips-and-recipes-page #section3 p.title span{
  /* color: #777; */
}
.tips-and-recipes-page #section3 p.blurb,
.tips-and-recipes-page #section4 .border-box ul{
  font-size: 17px;
  font-weight: 200;
  color: #404750;
}
.tips-and-recipes-page #section3 .pad{
  /* padding: 50px; */
}
.vam{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.vam img{
  align-items: center;
  flex-wrap: wrap;
}
.pl-0{
  padding-left: 0;
}
.test{
 /* test */
}
.list-num{
  position: absolute;
  background-color: #eee;
  color: #404750;
  padding: 10px 30px;
  border-radius: 100px;
  left: 15px; top:15px;
  font-size: 18px;
  font-weight: 100;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tips-and-recipes-page .border-box:hover .list-num{
  box-shadow: inset 0 6px 12px 0 rgba(0, 0, 0, 0.2), inset 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}
.list-num.dd{
  padding: 10px 25px;
}

.newsletter-sign-up{
  background: #2A9FB6;
  width: 100%;
  height: 250px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.38);
}
.newsletter-sign-up p{
  color: white;
  font-size: 65px;
  font-weight: 200;
  padding: 15px;
}
.newsletter-sign-up input{
  color: #cacaca;
  font-size: 25px;
  font-weight: 200;
  margin-left: 15px;
  padding: 15px;
}
.newsletter-sign-up input.sign-up{
  background: #303942;
  color: white;
  border: none;
  padding: 15px;
}
.tips-and-recipes-page .eee{
  background: #eee;
  height: 25px;
  width: 100%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.38);
}
.tips-and-recipes-page #section2.bg-image-food{
  background-image: url('/wp-content/uploads/tips-bg.jpg') !important;
  height: 375px;
  background-position: center;
}
.tips-and-recipes-page #section4{
  background-image: url('') !important;
}
.tips-and-recipes-page #section4 .flex{
  width: 100% !important;
}
.tips-and-recipes-page #section4 .border-box{
  width: 28% !important;
  position: relative;
  margin: 25px;
}
.tips-and-recipes-page #section4 p.title{
  text-align: center;
}
.tips-and-recipes-page #section4{
  height: 100% !important;
}
.tips-and-recipes-page #section4 .border-box ul{
  padding: 15px !important;
}
.tips-and-recipes-page #section4 .border-box img{
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}
.mt50{
  margin-top: 50px;
}
.mb50{
  margin-bottom: 50px;
}
.pb50{
  padding-bottom: 50px;
}
.tips-and-recipes-page .healthy-title{
  position: relative;
  height: 200px;
  margin-top: 50px;
}
.tips-and-recipes-page .healthy-title .slogan{
  width: 100%;
  color: #303942;
  font-size: 50px !important;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  padding-top: 50px;
  /* position: absolute; */
  text-align: center;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}
.tips-and-recipes-page #section5{
  height: 100%;
  width: 100%;
  background: #303942;
}
/* .tips-and-recipes-page #section5 .healthy-title .slogan{
  margin-bottom: 100px;
} */
.tips-and-recipes-page #section5 .border-box{
  flex-basis: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.break{
  flex-basis: 100%;
  height: 0;
}
.tips-and-recipes-page #section6 .border-box{
  flex-basis: 30%;
  margin: 15px;
}
.tips-and-recipes-page #section6 .border-box p.title{
  margin-top: 15px;
}
.tips-and-recipes-page #section6 .border-box img{
  border-radius: 15px;
  max-width: 100%;
}
.tips-and-recipes-page iframe{
  max-width: 100% !important;
}

@media (max-width: 1530px){}

@media (max-width: 1300px){}

@media (max-width: 1200px){}

@media (max-width: 1100px){
  .tips-and-recipes-page #section4 .border-box{
    width: 44% !important;
  }
  .empty{
    display: none;
  }
}

@media (max-width: 991px){
  .tips-and-recipes-page #section4 .border-box{
    width: 42% !important;
  }
  .tips-and-recipes-page #section6 .border-box {
    flex-basis: 46%;
  }
}

@media (max-width: 791px){
  .tips-and-recipes-page #section3 .container {
    margin-top: 30px;
  }
  .tips-and-recipes-page .healthy-title .slogan {
    padding-top: 10px;
  }
  .tips-and-recipes-page .healthy-title {
    height: 110px;
  }
  .tips-and-recipes-page #section6 .healthy-title{
    height: 100%;
  }
  .tips-and-recipes-page #section6 .border-box {
    flex-basis: 40%;
  }
  .tips-and-recipes-page .healthy-title .slogan {
    font-size: 42px !important;
  }
  .newsletter-sign-up p {
    font-size: 50px;
  }
  .newsletter-sign-up input,
  .newsletter-sign-up input.sign-up{
    padding: 5px;
  }
  .tips-and-recipes-page #section3 .row {
    margin-left: 5px;
    margin-right: 5px;
  }
  .front-page #section2 .numbers-dont-lie{
    margin-top: 330px;
  }
}

@media (max-width: 654px){
  .newsletter-sign-up input{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
  }
  .newsletter-sign-up{
    height: 100%;
    padding-bottom: 25px;
  }
  .tips-and-recipes-page #section3 .border-box {
    display: block !important;
  }
  .tips-and-recipes-page #section3 img {
    max-width: 50% !important;
    margin: 0 auto;
  }
  .tips-and-recipes-page #section4 .border-box{
    width: 70% !important;
  }
  .tips-and-recipes-page #section5 .border-box{
    flex-basis: 90%;
  }
}

@media (max-width: 600px){
  .tips-and-recipes-page .healthy-title {
    height: 150px;
  }
  .tips-and-recipes-page #section6 .border-box {
    flex-basis: 44%;
  }
  .tips-and-recipes-page #section6 .border-box {
    flex-basis: 90%;
  }
}

@media (max-width: 514px){
  .tips-and-recipes-page #section4 .border-box {
    width: 90% !important;
  }
  .tips-and-recipes-page .border-box {
      padding: 20px;
  }
}
@media (max-width: 364px){
  .tips-and-recipes-page #section5 .slogan{
    font-size: 36px !important;
  }
  .tips-and-recipes-page .healthy-title .slogan{
    font-size: 34px !important;
  }
}
@media (max-width: 300px){
  .list-num{
    padding: 5px 15px;
  }
  .list-num.dd{
    padding: 5px 12px;
  }
  .tips-and-recipes-page #section3 .title,
  .tips-and-recipes-page #section3 .blurb{
    text-align: center;
  }
  .newsletter-sign-up p{
    font-size: 40px;
  }
}

/* ---------------------------- */
/* ----- ABOUT ADAM ------ */
/* --------------------------- */

.shadow{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 /19%);
}
#about-adam{
  background: #242B34;
  padding: 50px 0;
}
.relative{
  position: relative;
}
/* .update{} */
.white-line{
  background: white;
  height: 5px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  /* opacity: .7; */
}
#about-adam .hero{
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
#about-adam .hero::before{
  content: "";
  border: 1px solid white;
  width: 100%;
}
#about-adam p{

}
#about-adam .hero img{
  max-width: 300px;
  border-radius: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: -150px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
#about-adam .border-box{
  background: #303942;
  border-radius: 30px;
  margin-top: 35px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  flex-basis: 100%;
  padding: 25px 50px;
}
#about-adam .border-box p{
  color: white;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: .02em;
  margin-bottom: 0;
}
#about-adam .border-box:hover,
#about-adam .hero img:hover,
#about-adam .hero .white-line:hover{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.38);
}
.border-box.button{
  background: white !important;
}
.get-started{
  font-size: 32px;
  font-weight: 600;
  padding: 15px 400px;
  color: #242B34;
  text-align: center;
}
.get-started:hover{
  color: #242B34;
  text-decoration: none;
}

.border-box-responsive{
  /* background: white; */
  border-radius: 30px;
  background-size: cover;
  background-position: left;
  margin-bottom: 50px;
}
.adam-coffee{
  background-image: url('/wp-content/uploads/adam-coffee.png');
  background-position: -400px;
}
.farm-fresh{
  background-image: url('/wp-content/uploads/farm-fresh-meals.jpg');
  background-position: -100px;
}

.starter-packet{
  background-image: url('/wp-content/uploads/starter-packet-2.jpg');
}
.approach-unlimited{
  background-image: url('/wp-content/uploads/product-2.jpg');
  background-position: -250px;
}
/* .flip Deals with flipped side by side container styling */
.starter-packet.flip{
  background-position: 400px;
}
.lft{
  flex-basis: 50%;
  border-radius: 30px 0 0 30px;
}
.text-side{
  background: #303942;
}
.rt{
  flex-basis: 50%;
  border-radius: 0 30px 30px 0;
}

@media (max-width: 991px){
  .border-box-responsive .rt,
  .border-box-responsive .lft{
    flex-basis: 100%;
  }
  .border-box-responsive{
    flex-wrap: wrap;
    background-image: none;
  }
  .bg-side{
    height: 250px;
    border-radius: 30px 30px 0 0;
    background-size: contain;
  }
  .front-page .bg-side{
    height: 400px;
  }
  .front-page #num-slides{
    margin-left: 0 !important;
  }
  .text-side{
    border-radius: 0 0 30px 30px;
  }
  .flip .text-side{
    border-radius: 30px 30px 0 0;
  }
  .flip .bg-side{
    border-radius: 0 0 30px 30px;
  }
  .starter-packet .mob-bg{
    background-image: url('/wp-content/uploads/starter-packet-2.jpg');
    background-size: cover;
    background-position: center;
  }
  .approach-unlimited .mob-bg{
    background-image: url('/wp-content/uploads/product-2.jpg');
    background-size: cover;
    background-position: center;
  }
  .adam-coffee .mob-bg{
    background-image: url('/wp-content/uploads/adam-coffee.png');
    background-size: cover;
  }
  .farm-fresh .mob-bg{
    background-image: url('/wp-content/uploads/farm-fresh-meals.jpg');
    background-size: cover;
    opacity: .8;
  }
}
/* To create new border-box-responsive :
the actual background image itself is controlled by it's own classe
ie: .adam-coffee and .adam-coffee .mob-bg
1. Create specific class for desktop bg image (ie .adam-coffee)
2. Create specific class for mobile bg image (ie .adam-coffee .mob)
3. @media query background-image: none for .adam-coffee on mobile
*/

/* -------------------------------------- */
/* --------------- Blog ----------------- */
/* ------------------------------------- */
.widget-area,
.entry-footer,
#colophon{
  display: none !important;
}
body.blog{
  background: #eee !important;
}

.blog article{
  background: white;
  max-width: 75% !important;
  margin: 0 auto;
  padding: 50px;
  border-radius: 30px;
  margin-bottom: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #cacaca;
  min-height: 300px;
}
.blog article:hover{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.38);
}

/* -------------------------------------- */
/* ----- Literal Helper Selectors ------ */
/* ------------------------------------- */

.tar{
  text-align: right;
}
.float-r{
  float: right;
}
.float-r::after{
  clear: both;
}
.mt-25{
  margin-top: 18px;
}
.hod{
  display: none;
}
.jcsb{
  justify-content: space-between;
}
.block{
  display: block;
}
.pt-50{
  padding-top: 50px;
}
.pt-100{
  padding-top: 100px;
}
